


.ais-Hits-item, .ais-InfiniteHits-item, .ais-InfiniteResults-item, .ais-Results-item{
    width: 30%;
    margin-top: none; 
     margin-left: none; 
     padding: none; 
    width:none; 
   border: none; 
   box-shadow:none;
}


.ais-Pagination{
    justify-content: center;
    display: flex;
    flex-flow: row;
}

.ais-Pagination-list{
    flex-flow: row;
    display: flex;
    margin-top: 0;
    margin-bottom: 1rem;
}

img {width:100%;}
h5 {font-size:16px;}




@media (max-width: 768px){

    .ais-Hits-item, .ais-InfiniteHits-item, .ais-InfiniteResults-item, .ais-Results-item {
      width: 40%;
   
    }


}

@media (max-width: 564px){



    .b{
        width: 40%;
    }


}

@media (max-width: 420px){

    .ais-Hits-item, .ais-InfiniteHits-item, .ais-InfiniteResults-item, .ais-Results-item {
     width: 80%;
    }

    .carousel{
        height: 42vh;
    } 
 }
 
@media (max-width: 375px){

    .ais-Hits-item, .ais-InfiniteHits-item, .ais-InfiniteResults-item, .ais-Results-item {
      width: 80%;
   
    }

    .b{
        width: 40%;
    }


}


